# Live installer menu. Keys 1 to 5 are the same five access profiles as the disk.
set timeout=3
set default=3
set pager=0
insmod part_gpt
insmod part_msdos
insmod iso9660
insmod gzio
insmod serial
insmod search
insmod search_fs_file
insmod linux
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial
if insmod play; then play 480 440 1 440 1; fi
search --no-floppy --file --set=root /live/blunix-installer
set kver="boot=live noeject console=tty0 console=ttyS0,115200"

menuentry "1 full speech" --id blunix-full-speech --hotkey 1 {
    linux /live/vmlinuz $kver blunix.access=full-speech speakup.synth=soft
    initrd /live/initrd.img
}
menuentry "2 console speech" --id blunix-console-speech --hotkey 2 {
    linux /live/vmlinuz $kver blunix.access=console-speech speakup.synth=soft
    initrd /live/initrd.img
}
menuentry "3 large print" --id blunix-large-print --hotkey 3 {
    linux /live/vmlinuz $kver blunix.access=large-print consoleblank=0
    initrd /live/initrd.img
}
menuentry "4 regular" --id blunix-regular --hotkey 4 {
    linux /live/vmlinuz $kver blunix.access=regular quiet
    initrd /live/initrd.img
}
menuentry "5 advanced" --id blunix-advanced --hotkey 5 {
    linux /live/vmlinuz $kver blunix.access=advanced systemd.show_status=1
    initrd /live/initrd.img
}
