# This menu loads its own kernel because the spike has no signed UKI yet.
set timeout=3
set default=3
set pager=0
insmod part_gpt
insmod ext2
insmod gzio
insmod serial
insmod fat
insmod search
insmod search_label
insmod linux
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial
if insmod play; then play 480 440 1 440 1; fi
search --label blunix-root --set=root
set prefix=($root)/boot/grub
set kver="root=LABEL=blunix-root rootwait ro console=tty0 console=ttyS0,115200"

menuentry "1 full speech" --id blunix-full-speech --hotkey 1 {
    linux /vmlinuz $kver blunix.access=full-speech speakup.synth=soft
    initrd /initrd.img
}
menuentry "2 console speech" --id blunix-console-speech --hotkey 2 {
    linux /vmlinuz $kver blunix.access=console-speech speakup.synth=soft
    initrd /initrd.img
}
menuentry "3 large print" --id blunix-large-print --hotkey 3 {
    linux /vmlinuz $kver blunix.access=large-print consoleblank=0
    initrd /initrd.img
}
menuentry "4 regular" --id blunix-regular --hotkey 4 {
    linux /vmlinuz $kver blunix.access=regular quiet
    initrd /initrd.img
}
menuentry "5 advanced" --id blunix-advanced --hotkey 5 {
    linux /vmlinuz $kver blunix.access=advanced systemd.show_status=1
    initrd /initrd.img
}
